html{
    background-color: #6d6c6c
}
h1{
    font-size: 60px;
}
.titulo{
    color: #FFFFFF;
    text-align: center;
    font-family: 'Alkatra', cursive;
    font-size: 20px;
}
.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.tamanho{
    font-family: 'Inconsolata', monospace;
    font-size: 25px;
    text-align: justify;
    margin-right: 10px;
}